/* Put your CSS rules here: */
.picture_container > img {
	border: 10px solid blue;
	background-color: black;
	padding-top: 10px;
	padding-right: 10px;
}

.bold {
	font-weight: bold;
}

.em {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.tiled_container > div {
	width: 100%;
	height: 10px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}




/* These are for the exercise, please don't edit them! */
html,body{margin:0;padding:0;}
body{font-family:sans-serif;}
.content{width:980px;padding:10px;}
